{% extends 'master.html' %}
{% load static %}
{% block content %}
 <div>
     <h1 class="text-info text-center">UPDATE PRODUCT</h1>
     <form class="product-form" method="post" action="/update-product/{{ product.id }}">
         <p>{{ success }}</p>
         {% csrf_token %}
         <input value="{{ product.name }}" required class="form-control" placeholder="Update Name" name="p-name" type="text">
         <input value="{{ product.qtty }}" required class="form-control" placeholder="Update qtty" name="p-qtty" type="text">
         <input value="{{ product.size }}" required class="form-control" placeholder="Update size" name="p-size" type="text">
         <input value="{{ product.price }}" required class="form-control" placeholder="Update price" name="p-price" type="text">
         <input class="btn btn-info" value="Update" type="submit">
         <p>{{ prod_name }}</p>
         <p>{{ prod_qtty }}</p>
         <p>{{ prod_size }}</p>
         <p>{{ prod_price }}</p>
         <p></p>


     </form>
 </div>
{% endblock %}
